.section-panel {
  .text-box-editor, .sections-body__main, .section_links, .socials-view {
    -webkit-animation-duration: .1s;
    animation-duration: .1s;
    animation-delay: .2s;
    -webkit-animation-delay: .2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }


}

.more-sections, .my-sections {
  &__section:not(:last-child) {
    margin: 0.75rem 0;
  }

}

@-webkit-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(200px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(200px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}

.sections-body {
  height: 80%;

}

.socials-view {
  &__grid {
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(2, auto);
    width: 100%;
    grid-column-gap: 0px;
    gap: .6rem;


    &--item {
      border: 1px solid rgba(17, 17, 19, 0.2);
      padding: 12px 6px;
      border-radius: 8px;
    }
  }
}