@import "./claim.scss";
@import './styles/sections-panel/sections';

.panel {
  position: fixed;

  .panel-content {
    background-color: #171717;
    bottom: 0px;
    height: 100%;
    // padding-left: 20px;
    // padding-right: 20px;
    // padding-top: 30px;
  }
}

/* .panel::before {
  content: '';
  height: 2px;
  width: 20%;
  background-color: #ffffff4d;
  display: block;
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  margin-top: 15px;
} */

.editor {
  width: 100%;
  height: 100vh;
  position: relative;

  &-panel {
    padding: 20px;
  }

  .editor__actions {
    height: 80px;
    width: 100%;
    grid-template-columns: repeat(4, 1fr);
    padding: 0 20px;
  }

  .editor__actions div {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.panel {
  overflow-x: hidden !important;
}

/* style Panel content */

.style-panel__default {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 5px;
  width: 100%;
  text-align: center;
  width: 100%;
}

.style-panel__header {
  font-size: 10px;
  height: 35px;
  // transform: translateY(-25px);
  border-bottom: 0.2px #9c9c9c solid;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  bottom: 0;

}

.style-panel__view--option {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  height: 90px;

  .style__icon {
    margin-bottom: 10px;
  }
}

.button {
  background-color: black;
  border: none;
  color: white;
  border: grey 1px solid;
}

/*
STYLE PANEL STYLES
 */

.show-section {
  opacity: 1;
}

.hide-section {
  opacity: 0;
}

.style-panel__wrapper {
  display: flex;
  transition: transform 0.1s ease-in;

  .style-panel__default {
    max-width: 100%;
    min-width: 100%;

    margin-right: 20px;
  }

  .style-panel__view {
    width: 100%;

    p {
      width: calc(100vw - 40px);
      background-color: red;
    }
  }
}

.in-templates .style-panel__wrapper {
  // animation: slide-in-template .5s linear;
  transform: translateX(calc(-100% - 20px));

  .show-templates {
    opacity: 1;
  }
}

.in-background .style-panel__wrapper {
  // animation: slide-in-template .5s linear;
  transform: translateX(calc(-200% - 20px));

  .show-background {
    opacity: 1;
  }

  p {
    background-color: goldenrod;
  }
}

.style-panel__container {
}

// BACKGROUND
.background {
  &-container {
    grid-template-columns: repeat(7, 1fr);
    //grid-template-rows: 20px;
    height: auto;
    column-gap: 8px;
    row-gap: 0px;
    width: 100%;
  }

  &-option__wrapper {
    border-radius: 50%;
    width: 100%;
    height: calc(((100vw - 40px) / 7) - 7px);
    padding: 7% 8%;
  }

  &-option {
    height: 100%;
    border-radius: 50%;

  }
}

.style-tab {
  width: 50%;
  background-color: transparent;

  &__wrapper {
  }
}

// PROFILE PANEL

.profile-panel .image-upload {
  //height: calc((100vw - 2.5rem - calc(0.5rem * 1)) / 3);
}

.reactEasyCrop_Container {
  background-color: black;
  height: 100%;
}

.cropper__header {
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;

  button {
    background: transparent;
    border: none;
    height: 60px;
  }
}

.cropper__wrapper {
  height: 100vh;
  position: relative;
}

.controls {
  display: flex;
  flex-direction: column;
  height: 20%;

  button {
  }
}

// ANIMATIONS

@keyframes slide-in-template {
  to {
    transform: translateX(calc(-100% - 20px));
  }
}

.toggle-slider {
  width: 100%;
  display: flex;

  &__option {
    background-color: transparent;
    border: none;
    width: 50%;
    cursor: pointer;
    height: 50px;
  }
}

.slider {
  &__wrapper {
    padding: 0 20px;
    margin-bottom: 6px;
  }
}

.editor-preview {
  box-shadow: 0px 4px 6px -2px rgb(0 0 0 / 25%);;
  height: 75vh;
}


.input-container {
  border: 1px solid rgba(17, 17, 19, 0.2);
  border-radius: 8px;
}

.link-border {

}

.MuiTabs-horizontal {

  width: 100%;
}

.MuiTabsList-root {
  display: flex;
  justify-content: center;
  width: 100%;

}

.MuiTab-root {
  width: 11rem;
  padding: .25rem 0;
  border-radius: 8px;
  border: 1px solid #545454;
  font-size: 12px;
  &:first-child {
    margin: 0 1rem;
  }

  &:last-child {
    margin-right: 1rem;
  }

  &.Mui-selected {
    background: #545454;
    color: #fafafa;
  }

}


.animated-bg__container {


}

.animated-bg__item {
  height: 80%;
  width: 8rem;
  border-radius: 8px;
  border: 1px solid #545454;

  &:not(:last-child) {
    margin-right: 1rem;
  }
}

div[role="tabpanel"] {
  width: 100%;
  height: 100%;


}

.MuiPaper-root {
  &::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
}

.drawer-knob {
  width: 20%;
  height: 2px;
  background: #e1e1e1;
  top: 8px;
  left: 50%;
  transform: translateX(-50%);
}

.templates-body, .animated-bg-tab{
  &::-webkit-scrollbar{
    visibility: hidden;
  }
}