html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.slide-pane__close{
  width: 10px;
  height: 10px;
}

.slide-pane_from_bottom{
  width: 100vw !important;
  transform: unset !important;
  height: fit-content !important;
  position: absolute;
  bottom: 0;
}